$app-background: #FFF;
$text-color: #000000;

$brand-color: #66aaff;
$link-color: #0366d6;
$link-hover: #2289ff;

$header-title: #dddddd;
$header-title-hover: #999999;
$header-background: #303030;
$header-background-hover: #252525;

$footer-list-title-border: #90ee90;
$footer-list-item-color: #000000;
$footer-list-item-hover: #999999;
$footer-background: #f3faff;

$error_color: #ff0000;

$last-updated-date: #666666