$app-color: #000;
$app-background: #FFF;

$brand-color: #66aaff;
$link-color: #0366d6;

$header-title: #dddddd;
$header-title-hover: #999999;
$header-background: #303030;
$header-background-hover: #252525;

$footer-list-title-border: #90ee90;
$footer-list-item-color: #000000;
$footer-list-item-hover: #999999;
$footer-background: #f3faff;

$home-head-title: #000000;
$home-head-address: #0025a0;
$home-head-background: #c0c0c0ab;

$not-found-red: #ff0000;

$last-updated-date: #666666